# Emacs
*~

# Project
version.h
.freeze
.yeah.I.read.it

# Compile noise
.lastBuildTime
.lastBuildTime.*
i386_obj/
dynamic_obj/
Parser.output
objects-optimized/

# Local makefiles
Makefile
Makefile.postamble
Makefile.preamble

# Binaries
nextconf
nextconf.*

# NFS
.nfs*
.saves*
